  <div id="content_wrapp">
            	<!--side bar start here-->fjfhjhjhjgh
                <div id="side_bar">
                	<div id="side_bar_form">
                    	<div><img src="/images/form_tp.png" alt="" /></div>
                        <div class="form_bk">
                        	<form>
                            	<label>Username</label>
                                <p><input type="text" name="username" value="name" /></p>
                                
                                <label>Password</label>
                                <p><input type="password" name="password" value="password_salt" /></p>
                                
                                <label>Re-enter Password</label>
                                <p><input type="password" name="password" value="password_salt" /></p>
                                
                                <label>Email</label>
                                <p><input type="text" name="Email" value="email" /></p>
                                
                                <label>Affiliate (Optional)</label>
                                <p><input type="text" name="Affiliate" value="" /></p><br />
                                
                                <p><input type="checkbox" name="Affiliate" value="" /> Email Update?</p>
                                <div align="center" style="padding:30px 0 0 15px"><input type="image" src="/images/play_btn.png" alt="" /></div>
                            </form>
                        </div>
                        <div><img src="/images/form_ftr.png" alt="" /></div>
                    </div>
                </div>
                <!--side bar end here-->
                <div id="content_section">
                	<div id="social_comment">
                    	<div><img src="/images/con_tp.png" alt="" /></div>
                        	<div class="con_repeat">
                            	<div class="social">
                                	<img src="/images/facebook.png" alt="" />
                                    <textarea class="textarea1"></textarea>
                                    <div class="clear"></div> 
                                    
                                    <img src="/images/twitt.png" alt="" />
                                    <textarea class="textarea2"></textarea>
                                    <div class="clear"></div> 
                                    
                                    <img src="/images/youtube.png" alt="" />
                                    <textarea class="textarea3"></textarea>
                                    <div class="clear"></div>                      
                                    
                                 <div class="clear"></div>   
                                </div>
                                
                                <div class="comment">
                                	<div class="comment_1">
                                    	<p align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                        <p class="commentname" align="right"><strong>- Member<br /> About<br />Affiliate</strong></p>
                                    </div>
                                    
                                    <div class="comment_1">
                                    	<p align="justify">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure.</p>
                                        <p class="commentname" align="right"><strong>- Member<br /> About<br />Affiliate</strong></p>
                                    </div>
                                    
                                    <div class="comment_1" style="border:none">
                                    	<p align="justify">Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                                        <p class="commentname" align="right"><strong>- Member<br /> About<br />Affiliate</strong></p>
                                    </div>
                                </div>
                                
                             <div class="clear"></div>   
                            </div>
                        <div><img src="/images/con_btm.png" alt="" /></div>
                    </div>

                    <h1>Work Music for your WOD</h1>
                    <ul>
                    	<li>No interuptions, no repeats</li>
                        <li>Never make a playist again</li>
                        <li>Account per box, month free just $2.99/mo. after</li>
                    </ul>
                    
                    
                </div>
               <div class="clear"></div>   
            </div>
        </div>  
