<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome to the XF-Playlist...</title>
<%= stylesheet_link_tag(['style'])%>
</head>

<body>
<div id="bodyWrapp">
	<div id="bodyWrapptp">
    	<div id="bodyWrappbtm">
        <div id="main_wrapp">
        	<!--header start here-->
            <div id="header">
            	<div class="logo"><img src="/images/logo.png" alt="" /></div>
                <!--login form begin-->                
                <div class="login_form">
                	   	<form>
                    	<label>Login :</label> <input type="text" name="username" value="Username" /> &nbsp;&nbsp;<input type="password" name="password" value="password" /><br />
                        <p align="center"><input type="image" src="/images/sign.png" height="43" width="97" /></p>  
                        <p align="center"><a href="#"><img src="/images/facebook_btn.png" alt="" /></a></p>                      
                    </form>
                </div>
                <!--login form end-->
            </div>
            <!--header end here-->
          
          
            <div id="body">
      <%= flash_notices %>
  		<%= yield %>
    </div>
 <!--footer start-->
                <div id="footer">
                    <p align="center">Copyright &copy; XF-Playlist, All rights reserved</p>
                </div>
            <!--footer end-->   
        </div> 
    </div>
</div>
</body>
</html>