<h2>Account created</h2>

<p>Thank you for signing up!</p>

<p>
  You can log in to your account at
  <a href="http://<%= flash[:domain] %>.<%= Saas::Config.base_domain %>/">http://<%= flash[:domain] %>.<%= Saas::Config.base_domain %>/</a>.
</p>
